<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="verify-v1" content="clvZ2JFji6TV1kJQPKdeBRamcUV9qG2b/hvK9xgZ/Zg=" />
        <meta name="y_key" content="1009ba1bfc1a1e54" />
        <title><TMPL_LOOP NAME="PARENTLINKS"><TMPL_VAR NAME=PAGE>/</TMPL_LOOP><TMPL_VAR TITLE></title>
        <link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
        <link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
        <TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
    </head>
    <body>
        <div id="header">
            <div id="headertitle">JAK LINUX</div>
            <div id="headersubtitle">Free Software Development</div>
            <div style="clear: both"></div>
        </div>
        <div id="floatmenu">
            <div class="menuitem">Welcome</div>
            <div class="menusubitem"><a href="<TMPL_VAR BASEURL>">Start page</a></div>
            <div class="menusubitem"><a href="<TMPL_VAR BASEURL>about">About</a></div>
            <div class="menuitem">Projects</div>
            <div class="menusubitem"><a href="<TMPL_VAR BASEURL>projects/debimg/">debimg</a></div>
            <div class="menusubitem"><a href="<TMPL_VAR BASEURL>projects/dir2ogg/">dir2ogg</a></div>
            <div class="menusubitem"><a href="<TMPL_VAR BASEURL>projects/hardlink/">hardlink</a></div>
            <div class="menusubitem"><a href="<TMPL_VAR BASEURL>projects/ndisgtk/">ndisgtk</a></div>
        </div>
        <div id="maincontent">
            <TMPL_VAR CONTENT>
        </div>
        <div id="footer">
            <div id="pageinfo">
                Copyright &copy; 2007-2009 Julian Andres Klode - Powered by <a href="http://ikiwiki.info/">ikiwiki</a> - Last edited <TMPL_VAR NAME=MTIME><br />
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons License" style="border-width: 0pt;" src="<TMPL_VAR BASEURL>cc-by-sa-3.0-de-88x31.png" /></a>
                    <br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons Attribution-Share Alike 3.0 Germany License</a>, except
                for the template, which is licensed under the GNU GPL 2.
            </div>
        </div>
    </body>
</html>
