<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal Website" />
    <meta name="author" content="Julian Andres Klode" />

    <meta name="verify-v1" content="clvZ2JFji6TV1kJQPKdeBRamcUV9qG2b/hvK9xgZ/Zg=" />
    <meta name="y_key" content="1009ba1bfc1a1e54" />
    <title><TMPL_LOOP NAME="PARENTLINKS"><TMPL_VAR NAME=PAGE>/</TMPL_LOOP><TMPL_VAR TITLE></title>

    <TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
    <link rel="stylesheet" href="<TMPL_VAR BASEURL>bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="<TMPL_VAR BASEURL>">JAK LINUX</a>
          <ul class="nav">
            <li><a href="<TMPL_VAR BASEURL>projects/debimg/">debimg</a></li>
            <li><a href="<TMPL_VAR BASEURL>projects/dir2ogg/">dir2ogg</a></li>
            <li><a href="<TMPL_VAR BASEURL>projects/hardlink/">hardlink</a></li>
            <li><a href="<TMPL_VAR BASEURL>projects/ndisgtk/">ndisgtk</a></li>
          </ul>
          <ul class="secondary-nav">
            <li><a href="<TMPL_VAR BASEURL>about/">about</a></li>
            <li><a href="<TMPL_VAR BASEURL>recentchanges/">recent changes</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">

            <TMPL_VAR CONTENT>
      </div>

      <footer>
        <p>
                Copyright © 2007-2011 Julian Andres Klode - Creative Commons 3.0 BY-SA licensed<br/>

                Powered by <a href="http://ikiwiki.info/">ikiwiki</a> -

                <a href="http://validator.w3.org/check?uri=referer">Valid (X)HTML 5</a>
            </p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
