<form method="get" action="<TMPL_VAR SEARCHACTION>" class="navbar-form navbar-left" role="search">
<input type="text" class="form-control" name="P" value="" size="16"
<TMPL_IF HTML5>placeholder="search"</TMPL_IF> />
</form>
