<TMPL_LOOP TRAILLOOP>
  <TMPL_IF __FIRST__>
    <ul class="nav navbar-nav trail">
  </TMPL_IF>
    <TMPL_IF PREVPAGE>
      <li>
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-menu-left"></span>
          <a href="<TMPL_VAR PREVURL>"><TMPL_VAR PREVTITLE></a>
        </button>
      </li>
    </TMPL_IF>
    <li>
      <button type="button" class="btn btn-default" aria-label="Right Align">
          <span class="glyphicon glyphicon-menu-up"></span>
        <a href="<TMPL_VAR TRAILURL>"><TMPL_VAR TRAILTITLE></a>
      </button>
    </li>
    <TMPL_IF NEXTPAGE>
      <li>
        <button type="button" class="btn btn-default" aria-label="Right Align">
          <a href="<TMPL_VAR NEXTURL>"><TMPL_VAR NEXTTITLE></a>
          <span class="glyphicon glyphicon-menu-right"></span>
        </button>
      </li>
    </TMPL_IF>
  <TMPL_IF __LAST__>
  </ul>
  </TMPL_IF>
</TMPL_LOOP>
