<TMPL_LOOP TRAILLOOP>
  <TMPL_IF __FIRST__>
    <TMPL_IF HTML5><nav class="navbar trails">
        <TMPL_ELSE>
          <div class="navbar trails">
    </TMPL_IF>
  </TMPL_IF>
  <ul class="nav navbar-nav trail">
    <TMPL_IF PREVPAGE>
      <li class="trailprev">
        <span class="trailarrow">←</span>
        <a href="<TMPL_VAR PREVURL>"><TMPL_VAR PREVTITLE></a>
      </li>
    </TMPL_IF>
    <li class="trailup">
      <a href="<TMPL_VAR TRAILURL>"><TMPL_VAR TRAILTITLE></a>
    </li>
    <TMPL_IF NEXTPAGE>
      <li class="trailnext">
        <a href="<TMPL_VAR NEXTURL>"><TMPL_VAR NEXTTITLE></a>
        <span class="trailarrow">→</span>
      </li>
    </TMPL_IF>
  </ul>
  <TMPL_IF __LAST__>
    <TMPL_IF HTML5>
  </nav>
  <TMPL_ELSE>
  </div>
  </TMPL_IF>
  </TMPL_IF>
</TMPL_LOOP>
